.footer__article--logos {
    @extend %footflex;
    img {
        width: 5rem;
    }
}
.footer__article--ads {
    @extend %footflex ;
    color: $maincolor;
    text-decoration: none;
    font-size: clamp(0.6rem, 0.314rem + 0.762vw, 1rem);
    a {
        color: $maincolor;
        text-decoration: none;
    }
}